.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: floralwhite;
}

.wrapper {
    margin: 0 auto;
    background-color: aqua;
    padding: 50px;
}

.all {
    background-color: fuchsia;
}

.active {
    background-color: darkgray;
}

.complited {
    background-color: firebrick;
}
.allColor{
    color: darkblue;
}
.complitedColor{
    color: forestgreen;
}
.activeColor{
    color: cornflowerblue;
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
}